Body {
    background-color: AliceBlue;
}
div {
    background-color:rgb(237, 218, 255);
    margin-top : 5%;
    margin-left : 5%;
   margin-right : 5%;
   text-align : left;
}
img{
    display:block;
    margin-left : auto;
    margin-right : auto;
    width: 25%;
    height: 25%;
}
